.pull-right.my-3
  %button.btn.btn-primary{"data-bs-target" => "#create-database-modal", "data-bs-toggle" => "modal"}
    Add database
#create-database-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "create-database-modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Add new database
      = form_with model: Database.new, url: database_index_path do |f|
        .modal-body
          .row
            .col-9
              = f.label :file
            .col-3
              = f.label :file_type
          .row
            .col-9
              = f.file_field :file, class: 'mw-100'
            .col-3
              = f.select :dbms_type, options_for_select(Database.dbms_types.keys)
        .modal-footer
          = f.submit("Create", class: "btn-primary btn")

- if @databases.length == 0
  %h5 Your databases list is empty
- else
  %h5 Your databases
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} Name
        %th{:scope => "col"} Type
        %th{:scope => "col"} Tables
    %tbody
      - @databases.each_with_index do |database_item, index|
        %tr
          %th{:scope => "row"} #{index+1}
          %td #{database_item.file.identifier}
          %td #{database_item.dbms_type}
          %td #{database_item.table_names}
          %td
            = link_to "View & Anonymize", database_path(database_item), class: 'btn btn-info'
          %td
            = link_to "Delete", database_path(database_item), class: 'btn btn-danger', method: :delete

- if @anonymized_databases.length == 0
  %h5 Your anonymized databases list is empty
- else
  %h5 Your anonymized databases
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} Name
        %th{:scope => "col"} Type
        %th{:scope => "col"} Tables
    %tbody
      - @anonymized_databases.each_with_index do |database_item, index|
        %tr
          %th{:scope => "row"} #{index+1}
          %td #{database_item.file.identifier}
          %td #{database_item.dbms_type}
          %td #{database_item.table_names}
          %td
            = link_to "View & Download", database_path(database_item), class: 'btn btn-info'
          %td
            = link_to "Delete", database_path(database_item), class: 'btn btn-danger', method: :delete
