.d-flex.justify-content-between.my-2
  .align-items-center.d-flex
    Choose table:
    = select_tag(:table_name, options_for_select(@tables_names, @current_table_name), onchange: "handleTableName()")

  = react_component('AnonymizeSection', { database: @database,
                                          currentTableName: @current_table_name,
                                          currentTableColumns: @current_table_columns,
                                          currentTablePrimaryKey: @current_table_primary_key,
                                        }, prerender: false)


  - if @database.original
    = form_with url: database_download_file_path(@database) do |f|
      = f.submit("Download", class: "btn-secondary btn")

%table#myTable
  %thead
    %tr
      - @current_table_columns.each do |header|
        %th.text-truncate #{header}
  %tbody
    - @current_table_data.each do |row|
      %tr
        - row.each do |item|
          %td #{item}

:javascript
  $(document).ready( function () {
      $('#myTable').DataTable()
    });

  function handleTableName() {
    let selectValue = $("#table_name option:selected").text()
    const url = new URL(location.href);
    url.searchParams.set('table_name', selectValue);
    window.location.href = url;
  }